@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:wght@100;300;400;500;700&display=swap');
:root {
  --BackgroundGradient: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
  --BackgroundColor: rgb(26, 89, 184);
}
* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: var(--BackgroundGradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-img {
  width: 150px;
  border-radius: 80px;
  justify-self: center;
}
.profile-info {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  max-width: 500px;
  margin-top: 30px;
  text-align: center;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.social-links > .btn {
  border: solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 0.7s ease-in-out;
  font-weight: 500;
}
.social-links > .btn:hover {
  background-color: #fff;
  color: #808080;
}
